<%- include('header'); -%>
<h2>Hi I am abhinav</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed eros eu elit gravida molestie. Fusce lectus velit, pretium et convallis et, facilisis quis purus. Vestibulum finibus varius augue dictum viverra. Sed mauris massa, pellentesque sit amet vehicula ac, interdum quis velit. Vivamus dapibus quam ac lorem ultrices euismod. In vehicula massa neque, ut vestibulum dolor pellentesque ac. Aliquam erat volutpat. Donec imperdiet bibendum elementum. Vivamus maximus, dui sit amet lobortis euismod, sem arcu tincidunt quam, ac placerat mi libero sit amet urna. Proin ultricies sem sed tortor lacinia, in laoreet augue faucibus. Duis diam lacus, venenatis nec nisi et, iaculis accumsan mauris. Maecenas non quam sit amet tortor finibus ultricies. Praesent eget ante quis turpis fringilla finibus. Sed at dui in enim ultrices laoreet tristique ac risus. </p>
<%- include('footer'); -%>
